.cites__overlay-text {
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  /* 155.556% */
  letter-spacing: 0.54px;
  width: 322px;
}

.cites__box {
  position: relative;
  width: 370px;
  height: 294px;
  margin: 0 auto;
  background-color: #bdbdbd;
  overflow: hidden;
}

.cites__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(33, 150, 243, 0.9);
  transform: translatey(100%);
  display: flex;
  align-items: center;
  justify-content: center;
}

.cites__box:hover .cites__overlay {
  transform: translatey(0);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@keyframes foot {
  1% {
    background-color: yellow;
  }
  2% {
    background-color: #2196F3;
  }
  3% {
    background-color: yellow;
  }
  4% {
    background-color: #2196F3;
  }
  5% {
    background-color: yellow;
  }
  6% {
    background-color: #2196F3;
  }
  7% {
    background-color: yellow;
  }
  8% {
    background-color: yellow;
  }
  9% {
    background-color: #2196F3;
  }
  10% {
    background-color: yellow;
  }
  11% {
    background-color: #2196F3;
  }
  12% {
    background-color: yellow;
  }
  13% {
    background-color: #2196F3;
  }
  14% {
    background-color: yellow;
  }
  15% {
    background-color: yellow;
  }
  16% {
    background-color: #2196F3;
  }
  17% {
    background-color: yellow;
  }
  18% {
    background-color: #2196F3;
  }
  19% {
    background-color: yellow;
  }
  20% {
    background-color: #2196F3;
  }
  21% {
    background-color: yellow;
  }
  22% {
    background-color: yellow;
  }
  23% {
    background-color: #2196F3;
  }
  24% {
    background-color: yellow;
  }
  27% {
    background-color: #2196F3;
  }
  30% {
    background-color: yellow;
  }
  33% {
    background-color: #2196F3;
  }
  36% {
    background-color: yellow;
  }
  40% {
    background-color: #2196F3;
  }
  45% {
    background-color: yellow;
  }
  50% {
    background-color: #2196F3;
  }
  56% {
    background-color: yellow;
  }
  60% {
    background-color: #2196F3;
  }
  63% {
    background-color: yellow;
  }
  71% {
    background-color: #2196F3;
  }
  75% {
    background-color: yellow;
  }
  76% {
    background-color: #2196F3;
  }
  77% {
    background-color: yellow;
  }
  79% {
    background-color: #2196F3;
  }
  80% {
    background-color: yellow;
  }
  81% {
    background-color: #2196F3;
  }
  82% {
    background-color: yellow;
  }
  88% {
    background-color: #2196F3;
  }
  92% {
    background-color: yellow;
  }
  94% {
    background-color: #2196F3;
  }
  97% {
    background-color: yellow;
  }
  100% {
    background-color: #2F303A;
  }
}
@keyframes box {
  0% {
    background-color: yellow;
    transform: scale(100%) rotate(400deg);
  }
  50% {
    background-color: transparent;
  }
  100% {
    background-color: var(--onecolor);
  }
}
body {
  font-family: "Roboto";
}

ul {
  list-style-type: none;
}

button {
  cursor: pointer;
  border: none;
  border-radius: 4px;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
  color: #2196F3;
}

address {
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  width: 100%;
  height: auto;
}

.container {
  padding-left: 15px;
  outline: solid red;
  padding-right: 15px;
  margin: 0 auto;
}
@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.menu {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  padding: 48px 40px;
  overflow: scroll;
  background-color: white;
  transform: translateY(100%);
  transition-property: background-color, fill, color, box-shadow, border, transform;
  transition-duration: 8s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.menu.is-open {
  transform: translateY(0);
}
.menu__close {
  position: absolute;
  border: none;
  top: 10px;
  z-index: 30;
  right: 15px;
}
.menu__navigation-link {
  display: inline-block;
  margin-bottom: 32px;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.175;
  letter-spacing: 0.02em;
  color: black;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu__navigation-link:hover, .menu__navigation-link:focus {
  color: #2196F3;
}
.menu__navigation-link--current {
  color: black;
}
.menu__tel-link {
  display: block;
  margin-bottom: 32px;
  font-weight: 500;
  font-size: 34px;
  line-height: 1.1765;
  letter-spacing: 0.02em;
  color: #757575;
}
.menu__mail-link {
  display: block;
  margin-bottom: 64px;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.1667;
  letter-spacing: 0.02em;
  color: #757575;
}
.menu__social {
  display: flex;
  gap: 10px;
}
.menu__clos {
  width: 30px;
  height: 30px;
  flex-shrink: 0;
  fill: black;
}
.menu__social-link {
  display: block;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.222;
  padding-bottom: 48px;
  letter-spacing: 0.02em;
  color: #2196F3;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
  padding-right: 10px;
}
.menu__social-link--right {
  border-right: none;
  padding-bottom: 48px;
}

.container-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  z-index: 6;
}

.button-close {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  width: 44px;
  z-index: 8;
  height: 44px;
  border-radius: 50%;
  background-color: red;
  cursor: pointer;
}

.header {
  border-bottom: 1px solid #ececec;
  padding-top: 18px;
  padding-bottom: 19px;
}
.header__weblink {
  color: #2196F3;
  font-size: 26px;
  font-family: "Raleway";
  font-weight: 700;
  letter-spacing: 0.78px;
  padding-left: 15px;
  margin-top: 0px;
}
.header__menu {
  height: 40px;
  padding: 0;
  border: none;
  background-color: transparent;
}
@media screen and (min-width: 768px) {
  .header__menu {
    display: none;
  }
}
.header__weblink2 {
  color: #000;
  margin-right: 93px;
}
.header__mail:hover {
  fill: #2196F3;
}
.header__telephone:hover {
  fill: #2196F3;
}
.header__mail {
  width: 16px;
  height: 12px;
  margin-top: -2px;
  transition-property: background-color, fill, color, box-shadow, border, transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  fill: #757575;
  padding-right: 4px;
}
.header__telephone {
  width: 10px;
  margin-top: -2px;
  transition-property: background-color, fill, color, box-shadow, border, transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  padding-right: 4px;
  fill: #757575;
  height: 16px;
}
.header__link {
  color: var(--title-text-color);
  transition-property: background-color, fill, color, box-shadow, border, transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.header__container {
  display: flex;
  align-items: center;
}
.header__site {
  display: flex;
}
@media screen and (max-width: 767px) {
  .header__site {
    justify-content: space-between;
    flex-grow: 1;
  }
}
.header__list {
  display: flex;
  gap: 50px;
}
.header__link, .header__contacts {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  display: flex;
  align-items: center;
  transition-property: background-color, fill, color, box-shadow, border, transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.header__contacts {
  color: #757575;
}
@media screen and (max-width: 1199px) {
  .header__contacts {
    font-size: 12px;
    line-height: 1.167;
  }
}
.header__contacts:hover {
  color: #2196F3;
}
.header__send {
  fill: #000;
  display: flex;
  color: #000;
  margin-top: 6px;
  gap: 50px;
  font-size: 14px;
  font-weight: 500;
  transition-property: background-color, fill, color, box-shadow, border, transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  letter-spacing: 0.28px;
}
.header__send:hover {
  color: #2196F3;
  letter-spacing: 0.28px;
  display: flex;
  gap: 50px;
  font-size: 14px;
  font-weight: 500;
}
.header__link {
  color: #757575;
  transition-property: background-color, fill, color, box-shadow, border, transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  position: relative;
}
.header__links::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  width: 100%;
  height: 4px;
  background-color: #2196F3;
  border-radius: 2px;
}
.header__nav-list {
  gap: 50px;
}
.header__contacts-list {
  display: flex;
  margin-left: auto;
  flex-direction: column;
}
@media screen and (max-width: 1199px) {
  .header__contacts-list {
    gap: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .header__contacts-list {
    flex-direction: row;
  }
}
@media screen and (min-width: 1200px) {
  .header__contacts-list .header__item + .header__item {
    margin-left: 40px;
  }
}

@media screen and (max-width: 767px) {
  .header__list,
  .header__contacts-list {
    display: none;
  }
}

.cites {
  padding-bottom: 94px;
  padding-top: 94px;
}
.cites__list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 30px;
}
.cites__buttons-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 50px;
  gap: 30px;
  flex-grow: 1;
}
@media screen and (max-width: 767px) {
  .cites__buttons-list {
    max-width: 421px;
  }
}
@media screen and (min-width: 768px) {
  .cites__buttons-list {
    justify-content: center;
    margin-bottom: 30px;
    gap: 15px;
  }
}
@media screen and (min-width: 1200px) {
  .cites__buttons-list {
    margin-bottom: 30px;
    gap: 8px;
  }
}
.cites__button {
  color: #000;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.63;
  letter-spacing: 0.48px;
  background-color: #F5F4FA;
  padding-bottom: 6px;
  padding-top: 6px;
  transition-property: background-color, fill, color, box-shadow, border, transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  padding-right: 22px;
  padding-left: 22px;
}
.cites__button:hover {
  color: #FFF;
  background-color: #2196F3;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.08), 0 3px 1px 0 rgba(0, 0, 0, 0.1);
}
.cites__item:hover {
  border: 1px solid #EEE;
  box-shadow: 1px 1px 1px grey;
  box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16), 0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
}
.cites__item {
  border: 1px solid #EEE;
  background: #FFF;
  transition-property: background-color, fill, color, box-shadow, border, transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  max-width: 450px;
}
@media screen and (min-width: 768px) {
  .cites__item {
    width: 352px;
  }
}
@media screen and (min-width: 1200px) {
  .cites__item {
    width: 370px;
  }
}
.cites__title {
  width: 322px;
  color: #000;
  font-size: 18px;
  font-weight: 700;
  line-height: 2;
  letter-spacing: 1.08px;
  margin-left: 24px;
  margin-right: 24px;
  margin-top: 20px;
  margin-bottom: 4px;
}
.cites__text {
  width: 322px;
  color: #757575;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.88;
  letter-spacing: 0.48px;
  margin-left: 24px;
  margin-bottom: 20px;
  margin-right: 24px;
}

.footer {
  background-color: #212121;
  display: flex;
  padding-top: 60px;
  padding-bottom: 60px;
  animation-name: foot;
  animation-timing-function: linear;
  animation-duration: 6s;
  animation-delay: 6s;
  animation-direction: unset;
}
.footer__flex {
  display: flex;
}
@media screen and (max-width: 767px) {
  .footer__flex {
    flex-direction: column;
    gap: 60px;
  }
}
@media screen and (min-width: 768px) {
  .footer__flex {
    flex-direction: column;
    gap: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .footer__flex {
    flex-direction: row;
    gap: 93px;
  }
}
.footer__box {
  width: 232px;
}
@media screen and (max-width: 768px) {
  .footer__box {
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 768px) {
  .footer__boxst {
    display: flex;
    gap: 165px;
  }
}
@media screen and (min-width: 1200px) {
  .footer__boxst {
    gap: 70px;
  }
}
.footer__address {
  color: #FFF;
  margin-top: 20px;
  line-height: 1.71;
  font-style: normal;
  width: 207px;
  margin-bottom: 7px;
  font-size: 14px;
}
@media screen and (max-width: 1199px) {
  .footer__address {
    margin-left: auto;
    margin-right: auto;
  }
}
.footer__liink {
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  line-height: 1.71;
}
.footer__link:hover {
  color: #2196F3;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (max-width: 1199px) {
  .footer__item {
    margin-left: auto;
    margin-right: auto;
  }
}
.footer__logo {
  color: #FFF;
  margin-right: 93px;
  font-family: Raleway;
  display: block;
  width: 154px;
  font-size: 26px;
}
@media screen and (max-width: 1199px) {
  .footer__logo {
    margin-left: auto;
    margin-right: auto;
  }
}
.footer__studio {
  color: #2196F3;
}
.footer__box {
  margin-top: 5px;
}
@media screen and (max-width: 767px) {
  .footer__box {
    margin-top: 60px;
  }
}
@media screen and (max-width: 1199px) {
  .footer__box {
    margin-left: auto;
    margin-right: auto;
  }
}
.footer__texting {
  color: #F5F4FA;
  text-transform: uppercase;
  margin-bottom: 20px;
  font-size: 14px;
  width: 276px;
  display: flex;
  justify-content: center;
}
@media screen and (max-width: 1199px) {
  .footer__texting {
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 1200px) {
  .footer__texting {
    display: flex;
    justify-content: start;
    margin-left: 1px !important;
  }
}
.footer__text {
  color: #F5F4FA;
  text-transform: uppercase;
  margin-bottom: 20px;
  font-size: 14px;
  width: 106px;
  display: flex;
  margin-left: 48px !important;
  justify-content: center;
}
@media screen and (min-width: 1200px) {
  .footer__text {
    margin-left: 0;
    margin-right: 0;
  }
}
.footer__listed {
  display: flex;
  gap: 10px;
}
@media screen and (max-width: 1199px) {
  .footer__listed {
    margin-left: auto;
    margin-right: auto;
  }
}
.footer__list {
  display: flex;
  flex-direction: column;
  gap: 7px;
}
@media screen and (max-width: 1199px) {
  .footer__list {
    margin-left: auto;
    margin-right: auto;
  }
}
.footer__liist {
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
}
.footer__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
}
.footer__icons {
  fill: #FFF;
  width: 20px;
  height: 20px;
}
.footer__liist:hover {
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__form {
  padding-top: 12px;
}
@media screen and (max-width: 1199px) {
  .footer__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
@media screen and (min-width: 1200px) {
  .footer__form {
    display: flex;
    flex-direction: column;
  }
}
.footer__title {
  color: #FFF;
  font-style: normal;
  line-height: normal;
  text-transform: uppercase;
  margin-bottom: 20px;
}
@media screen and (max-width: 1199px) {
  .footer__title {
    margin-left: auto;
    margin-right: auto;
  }
}
.footer__container {
  display: flex;
  gap: 12px;
}
@media screen and (max-width: 1199px) {
  .footer__container {
    flex-direction: column;
  }
}
.footer__input {
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background: rgba(33, 150, 243, 0.01);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  padding: 15px 16px;
  max-width: 358px !important;
  margin-left: auto;
  margin-right: auto;
  line-height: 1.25;
}
@media screen and (min-width: 767px) {
  .footer__input {
    margin-left: auto;
    margin-right: auto;
    width: 420px;
  }
}
.footer__fix-fix {
  width: 206px;
  display: flex;
  justify-content: center;
  margin-left: -25px !important;
}
@media screen and (min-width: 1200px) {
  .footer__fix-fix {
    display: flex;
    justify-content: start;
    margin-left: -43px !important;
  }
}
.footer__input:focus {
  outline: none;
}
.footer__input::-moz-placeholder {
  line-height: 1.25;
}
.footer__input::placeholder {
  line-height: 1.25;
}
.footer__button {
  color: #FFF;
  line-height: 1.87;
  padding-left: 28px;
  padding-right: 28px;
  padding-bottom: 10px;
  padding-top: 10px;
  background-color: #2196F3;
  display: flex;
  font-family: Roboto !important;
  font-size: 16px;
  gap: 10px;
  align-items: center;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  border: none;
}
@media screen and (max-width: 1199px) {
  .footer__button {
    margin-left: auto;
    margin-right: auto;
  }
}
.footer__button:hover, .footer__button:focus {
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__icon {
  fill: #FFF;
}/*# sourceMappingURL=portfolo.css.map */