.cites {
    padding-top: 94px;
    padding-bottom: 94px;

    &__buttons-list {
        display: flex;
        justify-content: center;
        gap: 8px;
        margin-bottom: 50px;
    }

    &__button {
        color: $text-color;
        text-align: center;
        font-size: 16px;
        font-weight: 500;
        line-height: 1.63;
        letter-spacing: 0.48px;
        background-color: $codecolor;
        padding-top: 6px;
        padding-bottom: 6px;
        transition-property: background-color, color, box-shadow, border;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        padding-right: 22px;
        padding-left: 22px;
    }

    &__button:hover {
        color: $title-color;
        background-color: $onecolor;
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.08),
            0 3px 1px 0 rgba(0, 0, 0, 0.1);
    }

    &__list {
        display: flex;
        justify-content: center;
        gap: 30px;
        flex-wrap: wrap;
        flex-grow: 1;
    }

    &__item:hover {
        border: 1px solid #EEE;
        box-shadow: 1px 1px 1px grey;
        box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16), 0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
    }

    &__item {
        border: 1px solid #EEE;
        background: $title-color;
        transition-property: background-color, color, box-shadow, border;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }

    &__title {
        width: 322px;
        color: $text-color;
        font-size: 18px;
        font-weight: 700;
        line-height: 2;
        letter-spacing: 1.08px;
        margin-left: 24px;
        margin-right: 24px;
        margin-top: 20px;
        margin-bottom: 4px;
    }

    &__text {
        width: 322px;
        color: $info-color;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.88;
        letter-spacing: 0.48px;
        margin-left: 24px;
        margin-bottom: 20px;
        margin-right: 24px;
    }
}