.cites {
    @include padding-cites($paddings-2: 94px);

    &__list {
        display: flex;
        justify-content: center;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 30px;

        @media screen and (min-width:768px) {
            justify-content: start;
        }
    }

    &__image-container {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        overflow: hidden;
    }

    &__buttons-list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-bottom: 50px;
        gap: 30px;
        flex-grow: 1;

        @media screen and (max-width: 767px) {
            max-width: 421px;
        }

        @media screen and (min-width: 768px) {
            justify-content: center;
            margin-bottom: 30px;
            gap: 15px;
        }

        @media screen and (min-width: 1200px) {
            margin-bottom: 30px;
            gap: 8px;
        }
    }

    &__button {
        color: $text-color;
        text-align: center;
        display: inline-block;
        font-size: 16px;
        font-weight: 500;
        line-height: 1.63;
        letter-spacing: 0.48px;
        background-color: $codecolor;
        @include padding-cites($paddings-2: 6px);
        @include transit($timing: 250ms);
        @include margin-cites($paddings: 22px);
    }
    &__button:hover {
        color: $title-color;
        background-color: $onecolor;
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.08),
            0 3px 1px 0 rgba(0, 0, 0, 0.1);
    }

    &__item:hover {
        border: 1px solid #EEE;
        box-shadow: 1px 1px 1px grey;
        box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16), 0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
    }

    &__item {
        border: 1px solid #EEE;
        background: $title-color;
        @include transit($timing: 250ms);
        max-width: 450px;

        @media screen and (min-width: 768px) {
            width: 367px;
        }

        @media screen and (min-width: 1200px) {
            width: 370px;
        }
    }

    &__title {
        width: 290px;
        color: $text-color;
        font-size: 18px;
        font-weight: 700;
        line-height: 2;
        letter-spacing: 1.08px;
        margin-left: 24px;
        margin-right: 24px;
        margin-top: 20px;
        margin-bottom: 4px;
    }

    &__text {
        width: 322px;
        color: $info-color;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.88;
        letter-spacing: 0.48px;
        margin-left: 24px;
        margin-bottom: 20px;
        margin-right: 24px;
    }
}