.clients {
    margin-bottom: 97px;

    &__title {
        color: $firstcolor;
        text-align: center;
        font-size: 36px;
        padding-top: 94px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: 1.08px;
        padding-top: 94px;
        margin-bottom: 50px;
    }

    &__list {
        display: flex;
        flex-direction: row;
        gap: 30px;
    }

    &__svg {
        width: 106px;
        height: 60px;
        flex-shrink: 0;
        @include padding-cites($paddings-2: 16px);
        @include margin-cites($paddings: 32px);
        border-radius: 4px;
        transition-property: fill, background-color, color, box-shadow, border;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        @include svg-color($color: #AFB1B8);
    }

    &__svg:hover {
        width: 106px;
        height: 60px;
        border-radius: 4px;
        @include svg-color($color: #2196F3);
    }

    &__block {
        display: flex;
        justify-content: center;
    }
}