.command {
    background-color: $codecolor;
    padding-top: 94px;
    padding-bottom: 94px;

    &__list {
        display: flex;
        flex-wrap: wrap;
        // justify-content: space-around;
        gap: 30px;
    }

    &__item {
        border-radius: 0px 0px 4px 4px;
        width: 450px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        background: $title-color;
        box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.20), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
        padding-bottom: 24px;

        @media screen and (min-width:768px) {
            width: 354px;
        }

        @media screen and (min-width:1200px) {
            width: 270px;
            padding-bottom: 30px;
        }
    }

    &__title {
        color: $text-color;
        text-align: center;
        font-size: 28px;
        font-weight: 700;
        letter-spacing: 1.08px;
        margin-bottom: 50px;

        @media screen and (min-width: 768px) {
            font-size: 35px;
        }
    }

    &__titles {
        color: $text-color;
        text-align: center;
        font-size: 16px;
        font-weight: 500;
        letter-spacing: 0.48px;
        margin-bottom: 10px;
        margin-top: 30px;
    }

    &__text {
        color: $info-color;
        text-align: center;
        font-size: 16px;
        font-weight: 400;
        letter-spacing: 0.48px;
        margin-top: 10px;
        margin-bottom: 12px;
    }

    &__icon-list {
        display: flex;
        margin: 0 auto;
        gap: 10px;
    }

    &__svg-button {
        @include height-weight($size: 44px);
        @include transit($timing: 250ms);
        border-radius: 200px;
        background-color: white;
    }

    &__svg-button:hover {
        fill: $title-color;
        border-radius: 200px;
        background-color: $onecolor;
    }

    &__icon {
        display: flex;
        gap: 10px;
    }

    &__svg {
        @include height-weight($size: 20px);
        @include transit($timing: 250ms);
        fill: $iconcolor;
    }

    &__svg:hover {
        fill: $title-color;
    }
}