.header {
  border-bottom: 1px solid #ececec;
  padding-top: 18px;
  padding-bottom: 19px;

  &__weblink {
    color: $onecolor;
    font-size: 26px;
    font-family: "Raleway";
    font-weight: 700;
    letter-spacing: 0.78px;
    padding-left: 15px;
    margin-top: 0px;
  }

  &__menu {
    height: 40px;
    padding: 0;
    border: none;
    background-color: transparent;

    @media screen and (min-width: 768px) {
      display: none;
    }
  }

  &__weblink2 {
    color: $text-color;
    margin-right: 93px;
  }

  &__mail:hover {
    fill: $onecolor;
  }

  &__telephone:hover {
    fill: $onecolor;
  }

  &__mail {
    width: 16px;
    height: 12px;
    margin-top: -2px;
    @include transit($timing: 250ms);
    fill: $info-color;
    padding-right: 4px;
  }

  &__telephone {
    width: 10px;
    margin-top: -2px;
    @include transit($timing: 250ms);
    padding-right: 4px;
    fill: $info-color;
    height: 16px;
  }

  &__link {
    color: var(--title-text-color);
    @include transit($timing: 250ms);
  }

  &__container {
    display: flex;
    align-items: center;
  }

  &__site {
    display: flex;

    @media screen and (max-width: 767px) {
      justify-content: space-between;
      flex-grow: 1;
    }
  }

  &__list {
    display: flex;
    gap: 50px;
  }

  &__link,
  &__contacts {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    display: flex;
    align-items: center;
    @include transit($timing: 250ms);
  }

  &__contacts {
    color: $info-color;

    @media screen and (max-width: 1199px) {
      font-size: 12px;
      line-height: 1.167;
    }
  }

  &__contacts:hover {
    color: $onecolor;
  }

  &__send {
    fill: $text-color;
    display: flex;
    color: black;
    margin-top: 6px;
    gap: 50px;
    font-size: 14px;
    position: relative;
    font-weight: 500;
    @include transit($timing: 250ms);
    letter-spacing: 0.28px;
  }

  &__send:hover {
    color: $onecolor;
    letter-spacing: 0.28px;
    display: flex;
    gap: 50px;
    font-size: 14px;
    font-weight: 500;
  }

  &__link {
    color: $info-color;
    @include transit($timing: 250ms);
    position: relative;
  }

  &__links::after {
    content: '';
    position: absolute;
    left: 0;
    top: 25px;
    margin-top: 15px;
    display: block;
    width: 100%;
    height: 4px;
    background-color: $onecolor;
    border-radius: 2px;

    @media screen and (max-width:1200px) {
      margin-top: 19px;
    }
  }

  &__nav-list {
    gap: 50px;
  }

  &__contacts-list {
    display: flex;
    margin-left: auto;
    flex-direction: column;

    @media screen and (max-width: 1199px) {
      gap: 10px;
    }

    @media screen and (min-width: 1200px) {
      flex-direction: row;
    }
  }

  &__contacts-list .header__item+.header__item {
    @media screen and (min-width: 1200px) {
      margin-left: 40px;
    }
  }
}

.header__list,
.header__contacts-list {
  @media screen and (max-width: 767px) {
    display: none;
  }
}