.hero { 
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../fones/overla.png);
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  background-size: cover;
  padding-top: 118px;
  padding-bottom: 118px;

  @media screen and (min-width:1200px){
    padding-top: 200px;
    padding-bottom: 200px;
  }

  &__title {
    font-weight: 900;
    color: $title-color;
    text-align: center;
    font-size: 20px;
    line-height: 1.364;
    letter-spacing: 2.64px;
    text-transform: uppercase;
    display: flex;
    max-width: 340px;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;

  @media screen and (min-width: 768px){
    font-size: 26px;
    max-width: 400px;
  }

 @media screen and (min-width: 1200px) {
  font-size: 44px;
  max-width: 698px;
 }
}

  &__button {
    background-color: $onecolor;
    color: $title-color;
    font-size: 16px;
    text-align: center;
    animation-name: bg-box;
    animation-timing-function: cubic-bezier(0.68, -0.55, 0.265, -2.55);
    animation-duration: 5s;
    animation-delay: 0s;
    animation-direction: inherit;
    font-weight: 700;
    line-height: 1.88;
    letter-spacing: 0.96px;
    margin-top: 45px;
    @include padding-cites($paddings-2: 10px);
    @include margin-cites($paddings: 32px);
  }
}

